

ul {
    padding-top: 150px;
    /*margin: 10; */
    width: 746px;
    height: 20px;
    /* border: 1px solid whitesmoke; */
    background:#fff;
    padding: 20px;
    float: left;
    /* display: inline; */
    margin-top: 130px;
    margin-left: 67px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}


ul li {   
    background: #fff;
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    /* float: left;
    display: inline; */
}
#item-list{
    padding-top:100px; 
    background:lavenderblush;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1800px;
    height: 820px;
    }
    .input, #add{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }